# CSV

In [ ]:
import pandas as pd
def load_data(file_path, sheet_name):
    """
    Load data from a CSV file and return a DataFrame.
    
    Parameters:
    file_path (str): The path to the CSV file.
    
    Returns:
    pd.DataFrame: The loaded data as a DataFrame.
    """
    try:
        data = pd.read_excel(file_path, sheet_name=sheet_name)
        return data
    except Exception as e:
        print(f"Error loading data: {e}")
        return None

In [ ]:
df=load_data('courseunitT3.xlsx', 'courseunitT3')
df.head(10)

In [ ]:
df.to_csv('courseunitT3.csv', index=False)

def save_to_csv(data, file_path):
    """
    Save a DataFrame to a CSV file.
    
    Parameters:
    data (pd.DataFrame): The DataFrame to save.
    file_path (str): The path where the CSV file will be saved.
    """
    try:
        data.to_csv(file_path, index=False)
        print(f"Data saved to {file_path}")
    except Exception as e:
        print(f"Error saving data: {e}")

save_to_csv(df, 'T3courseunit.csv')

In [ ]:
from sqlalchemy import create_engine

import os
from dotenv import load_dotenv
from sqlalchemy import text

load_dotenv()

username = os.getenv('PG_USERNAME')
password = os.getenv('PG_PASSWORD')
host = os.getenv('PG_HOST')
port = os.getenv('PG_PORT')
database = os.getenv('PG_DBNAME')

# Update the engine to use the actual credentials from environment variables
engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')

# unitname

In [ ]:
import pandas as pd
def load_data(file_path, sheet_name):
    """
    Load data from a CSV file and return a DataFrame.
    
    Parameters:
    file_path (str): The path to the CSV file.
    
    Returns:
    pd.DataFrame: The loaded data as a DataFrame.
    """
    try:
        data = pd.read_excel(file_path, sheet_name=sheet_name)
        return data
    except Exception as e:
        print(f"Error loading data: {e}")
        return None

In [ ]:
df_unitname = load_data('courseunitT3.xlsx', 'unitname')
if df_unitname is not None:
    print("Data loaded successfully from unitname sheet.")
else:
    print("Failed to load data from unitname sheet.")

df_unitname.to_csv('T3unitname.csv', index=False)

In [ ]:
df_unitname

In [ ]:
from sqlalchemy import create_engine

import os
from dotenv import load_dotenv
from sqlalchemy import text

load_dotenv()

username = os.getenv('PG_USERNAME')
password = os.getenv('PG_PASSWORD')
host = os.getenv('PG_HOST')
port = os.getenv('PG_PORT')
database = os.getenv('PG_DBNAME')

# Update the engine to use the actual credentials from environment variables
engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')


# # Create the T3 table if it does not exist
# with engine.connect() as conn:
#     conn.execute(text("""DROP TABLE IF EXISTS "T3_unitname";"""))
    

# Drop the units table with CASCADE to remove dependent objects (e.g., foreign key constraints)
with engine.connect() as conn:
  conn.execute(text('DROP TABLE IF EXISTS units CASCADE;'))

with engine.connect() as conn:
    result = conn.execute(text('SELECT * FROM "units" LIMIT 5'))
    for row in result:
        print(row)
for row in result:
    print(row)


# Create the units table
with engine.connect() as conn:
    conn.execute(text("""CREATE TABLE IF NOT EXISTS T3units (
                      "id" SERIAL PRIMARY KEY,
                      "unitname" TEXT,
                      "unitcode" TEXT
                    );"""))
    print("Table 'T3units' created successfully.")


# Use 'if_exists="append"' to avoid dropping the table and breaking dependencies
df_unitname.to_sql('T3units', engine, if_exists='replace', index=False)
print("Data inserted into table T3units.")

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text('SELECT * FROM "T3units" LIMIT 5'))
    for row in result:
        print(row)
for row in result:
    print(row)